@import url(https://fonts.googleapis.com/css?family=Supermercado+One|Yellowtail);

.upColor{
    color: white;
    font-family: Supermercado One, serif;
    text-align: center;
    display: block;
    margin: auto;
}
.center {
    text-align: center;
    display: block;
    margin: auto;
}
.link {
    text-decoration: none;
    color: black;
}
.selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Yellowtail, serif;
    font-size: 125%;
    position: fixed;
    top: 9%;
    left: 49%;
    transform: translate(-50%, -50%);
    padding: 10px;
    /* per rendere il link cliccabile anche dopo lo scrollo */
    z-index: 1;
}
.selection ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.selection ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}