text {
    font-size: 400%;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 50%;
    position: absolute;
    background: rgba(0, 0,0, 0);
    padding: 20px;
    color: white;
}

body {
    background: linear-gradient(55deg, #1a1aff 55%, #0000cc 40%, #00001a 15%);
}

#Mars-BG {
    max-width: 100%;
    max-height: 100%;
}
.selection ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: linear-gradient(to right, blue 50%, cyan 50%);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.selection ul li:hover::after {
    width: 100%;
}
